@keyframes flip-in-y {
  0% {
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0
  }

  100% {
    transform: perspective(1000px) rotate3d(0, 1, 0, 180deg);
    opacity: 0;
  }
}

@keyframes flip-out-y {
  0% {
    opacity: 0;
    transform: rotate3d(0, 1, 0, 180deg);
  }

  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }

  100% {
    transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  }
}

$seconds: .38s;

.flip:checked {

  & + .product-image-front {
    animation: flip-in-y $seconds forwards;
    & + .product-image-back {
      animation: flip-out-y $seconds forwards;
    }
  }
  // Problem: Selector not working

}

.flip:not(:checked) {

  & + .product-image-front {
    animation: flip-out-y $seconds forwards;

    & + .product-image-back {
      animation: flip-in-y $seconds forwards;
    }
  }
}
