@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url(http://fonts.gstatic.com/s/orbitron/v6/HmnHiRzvcnQr8CjBje6GQnYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.icon-bulb:before {
  content: "o";
}
.icon-bubble:before {
  content: "c";
}
.icon-banknote:before {
  content: "d";
}
.icon-camera:before {
  content: "e";
}
.icon-clock:before {
  content: "g";
}
.icon-cloud:before {
  content: "h";
}
.icon-cup:before {
  content: "i";
}
.icon-diamond:before {
  content: "z";
}
.icon-display:before {
  content: "l";
}
.icon-eye:before {
  content: "m";
}
.icon-fire:before {
  content: "n";
}
.icon-heart:before {
  content: "p";
}
.icon-key:before {
  content: "k";
}
.icon-vynil:before {
  content: "q";
}
.icon-star:before {
  content: "f";
}
.icon-study:before {
  content: "b";
}


// Page Fonts loading

h1, h2, h3, h4, h5 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #fff;
  font-weight: normal;
}

h2 {
  font-size: 2em;
}

.game-title {
  font-size: 4em;
  font-family: 'Orbitron';
  color: #fff;
}

.game-icons {
  color: #fff;
  font-family: 'web-fonts';
}

.time-counter {
  color: #fff;
}

.icon {
  font-family: 'web-fonts';
  color: #fff;
}

.game-card {
  font-family: 'web-fonts';
  color: #fff;
}

.game-icon {
  font-family: 'web-fonts';
  font-size: 2em;
}
