


.icon-bulb:before {
  content: "o";
}
.icon-bubble:before {
  content: "c";
}
.icon-banknote:before {
  content: "d";
}
.icon-camera:before {
  content: "e";
}
.icon-clock:before {
  content: "g";
}
.icon-cloud:before {
  content: "h";
}
.icon-cup:before {
  content: "i";
}
.icon-diamond:before {
  content: "z";
}
.icon-display:before {
  content: "l";
}
.icon-eye:before {
  content: "m";
}
.icon-fire:before {
  content: "n";
}
.icon-heart:before {
  content: "p";
}
.icon-key:before {
  content: "k";
}
.icon-vynil:before {
  content: "q";
}
.icon-star:before {
  content: "f";
}
.icon-study:before {
  content: "b";
}


// Page Fonts loading

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4em;
  line-height: 1.2em;
  text-transform: uppercase;
}

h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 2em;
}

.product-name,
.product-price {
  font-family: 'Alegreya';
  line-height: 1.2em;
  font-size: 2em;
}


.icon {
  font-family: 'web-fonts';
  color: #fff;
}
