/*                                *\
        MAIN PAGE STYLINGS
\*                                */


// A Very Quick Reset that was still left
* {
  box-sizing: border-box;
}


// Giving the Initial Page Colors and Styles

body {
  text-align: center;
  background-image: url("../img/crossword.png");
}

.main-container {
  width: 66%;
  margin: 0 auto;
  margin-bottom: 7em;
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

hr {
  width: 66.666%;
  margin-bottom: 1.2em;
}

.product-container {
  display: inline-block;
  position: relative;
  width: 33%;
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 2em;
  max-width: 418px;
  display: inline-block;
  @media only screen and (max-width: 800px) {
    width: 50%;
  }
  @media only screen and (max-width: 600px) {
    width: 100%;
    margin: 0 0 2em;
}

.product-selection {
  border: 5px solid #4c4c4e;
  border-radius: 1em;
  overflow: hidden;

}

.product-image-container {
  padding: .5em;
  position: relative;
  text-align: right;
}
.product-image-container:after {
  content: " ";
  display: block;
  overflow: auto;
  height: 100%;
}

.product-image-front,
.product-image-back,
.product-image-placeholder {
  width: 100%;

}

.product-image-placeholder {
  display: hidden;
  opacity: 0;
}

.product-image-front,
.product-image-back {
  position: absolute;
  top: .5em;
  left: 0em;
}

.product-options-nav {
  overflow: auto;
}

.product-option {
  width: 20%;
  padding-top: 20%;
  display: inline-block;
  float: left;
  position: relative;
  background-color: #eee;
  font-size: 1.25em;
}

.product-option > label,
.product-option > select,
.product-option > button,
.icon-heart-1,
.icon-switch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.product-option > label,
.product-option > select,
.product-option > button {
  width: 100%;
  height: 100%;
}

.product-options-nav:after {
  content: "";
}

.product-option:after {
  width: 0;
  padding-top: 100%;
  position: absolute;
}

footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  padding: 2em;
  background-color: #eee;
  width: 100%;
  vertical-align: middle;
}

// Styling the buttons and inputs for the Product Options

select {
  -webkit-appearance: none;
  border: 0;
  margin-left: 25%;
  &:focus {
    outline: none;

    border-radius: 0;
  }

  option {
    text-align: center;
    display: list-item;
    padding: 0;
    margin: 0;
    font-size: 2em;
  }
}

.checkbox {
  opacity: 0;
}

.add-to-cart {
  border: none;
  background-color: transparent;
}


.checkbox + .check-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
}

.checkbox:checked + .check-btn {
  width: 100%;
  height: 100%;

  .icon-heart-1 {
    color: pink;
    font-size: 2em;
  }
}

.checkbox:not(:checked) + span {
  background: transparent;
}

.product-size,
.product-color {
  background-color: transparent;
}

// Styling the Product Title

.product-name,
.product-price {
  margin-top: .5em;
}

.product-name {
  float: left;
  padding-top: .5em;
}
.product-price {
  float: right;
  padding: .5em;
  background-color: #eee;
  display: inline-block;
  border-radius: 50%;
}
.product-price:after {
  content: " ";
  float: left;
  width: 0;
  padding-top: 100%;
}



/*                    *\
    MEDIA QUERIES
\*                    */
